
@{
    mercadopago.MP mp = new mercadopago.MP("TEST-6535939912151997-041715-145fad1e31f748516f6537f5290c7116__LD_LC__-252266576");

    System.Collections.Hashtable paymentMethods = mp.get("/v1/payment_methods",true);

    Console.WriteLine(paymentMethods.ToString());

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConsultaMediosPagos</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
