@{
    Layout = null;
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")

@{
    mercadopago.MP mp = new mercadopago.MP("TEST-6535939912151997-041715-145fad1e31f748516f6537f5290c7116__LD_LC__-252266576");
    mp.sandboxMode(true);
    Dictionary<String, String> filters = new Dictionary<String, String> ();
    filters.Add("email", "test@test.com");

    System.Collections.Hashtable saved_customer = mp.get ("/v1/customers/search", filters);
    System.Collections.Hashtable response = (System.Collections.Hashtable)saved_customer["response"];
    System.Collections.ArrayList results = (System.Collections.ArrayList)response["results"];

    System.Collections.Hashtable customer = (System.Collections.Hashtable)results[0];
    string customer_id = customer["id"].ToString();

    System.Collections.Hashtable card = mp.post("/v1/customers/" + customer_id + "/cards", "{\"token\": \"9a562e43adea8a7f582eb3cbab1d2dc5\"}");
    String b ="8";
    //Console.WriteLine (card.ToString());

}
<!DOCTYPE html>
<html>
<head>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>
    <title>Subscribe</title>
</head>
<body>
    

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        
//var re = $("#pepe").val();
            //$(location).attr('href', re)
        });



</script>   