@{
    Layout = null;
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")

@{
    mercadopago.MP mp = new mercadopago.MP("TEST-6535939912151997-041715-145fad1e31f748516f6537f5290c7116__LD_LC__-252266576");
    mp.sandboxMode(true);
    //Dictionary<String, String> filters = new Dictionary<String, String>();
    //filters.Add("email", "test@test.com");

    System.Collections.Hashtable cards = mp.get("/v1/customers/252368462-sUeIxgbkyahxBm/cards", true);

    //System.Collections.Hashtable card = mp.post("/v1/customers/" + customer_id + "/cards", "{\"token\": \"e9ed3a7039a0fb5246fd5f0d0885684c\"}");
    String b = "8";
    //Console.WriteLine (card.ToString());

}
<!DOCTYPE html>
<html>
<head>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>
    <title>Subscribe</title>
</head>
<body>


</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {

//var re = $("#pepe").val();
            //$(location).attr('href', re)
        });



</script>   