
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterSuccess</title>
</head>
<body>
    <div> 
        Registración Correcta
    </div>
</body>
</html>
