@{
    ViewBag.Title = "Verifique su Email";
}

<h2>Cambiar Contraseña</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">          
           Verifique su Email para confirmar el cambio
        </section>
    </div>
</div>
