
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exito</title>
</head>
<body>
    <div> 
        <h1>El perfil se ha creado con éxito !</h1>
    </div>
</body>
</html>
