@model IEnumerable<MVCPeaton.Models.ViewModels.LocationVM>

@using (Html.BeginForm("Search", "Location", FormMethod.Post, new { id = "frmfilter", name = "frmfilter" }))
{
    @Html.TextBox("name")
    <input type="submit" value="Filter" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>
